.navbar{
    background-color: rgb(31, 29, 29);
}
.nav-item a {
    color:#06BBCC;
}
.navbar h1{
    color: #06BBCC;
}
.nav-item a:hover{
    cursor: pointer;
    font-weight: 600;
    color:white;    
}
.backcolor{
    background: rgba(24, 29, 56, .7)
}
.heading{
    font-size:80px;
}
.service-item {
    background:#F0FBFC;
    transition: .5s;
}

.service-item:hover {
    margin-top: -10px;
    background: #6fbbc2;
}
.fa{
    color: #06BBCC;
}
.about-title{
    color: #06BBCC;
}
.btn:hover{
    color: aqua;
    background-color: cadetblue;
}
.about-btn{
    background: #06BBCC;
}
.instructors-heading{
    color: #06BBCC;
}
.team-item{
    background: #F0FBFC;
}
.icon{
    margin-top: -25px;
}
.social-media{
    background: #F0FBFC;
}
.social-media a{
    background-color: #06BBCC;
}
.back-to-top {
    position: fixed;
    width: 50px;
    height: 50px;
    right: 30px;
    bottom: 30px;
    background-color:#06BBCC;
}
.back-to-top i {
    color: #fff;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.footer{
    background-color: rgb(52, 52, 78);
    color: #F0FBFC;
}
.footer-link a{
    list-style: none;
    text-decoration: none;
    color: white;
}
.signup-btn{
    background-color: #06BBCC;
}
@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }
    
    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}